<div class="div1" style="background-color: #e2e2e3;">
<div class="div2">
  <form class="border border-2 border-Secondary p-3 rounded rounded-3">
    <div style="background-color: #b7b9be;">
      <h3 style="padding: 5px; text-align: center;">Search for book</h3>
    </div>
    <div class="form-group" style="padding-top: 1%">
      <div>
        <b>Author</b>
      </div>
      <div>
          <input  class="form-control" type= "text" placeholder="Enter Author" name="author" [(ngModel)] = "Author" />
      </div>
    </div>
    <div class="form-group" style="padding-top: 1%">
        <div>
          <b>Title</b>
        </div>
        <div>
            <input class="form-control" type="text" placeholder="Enter Title" name="title"  [(ngModel)] = "Title" />
        </div>
      </div>
      <div class="form-group" style="padding-top:1%">
        <div>
          <b>Publisher</b>
        </div>
        <div>
            <input type= "text" class="form-control" placeholder="Enter Publisher" name="publisher" [(ngModel)] = "Publisher"/>
        </div>
      </div>
      <div class="form-group" style="padding-top: 1%;">
        <div>
          <b>Category</b>
        </div>
        <div>
            <input class="form-control" type= "text" placeholder="Enter Category" name="category" [(ngModel)] = "Category" />
        </div>
      </div>
      <div style="padding-top:2%">
          <button (click)="SearchBookList()" class="btn btn-success rounded-25" >Search</button>
      </div>
    </form>

</div>
<div class="div3">
    <div>
        <img src="assets/images/ebooks.jpg" style="background-color: #e2e2e3;"><br>
    </div>
</div>
</div>
<div style="padding-top: 30px;"></div>
<app-booklist></app-booklist>