<div class="div1">
<div class="div2">
  <form class="border border-2 border-Secondary p-3 rounded rounded-3">
    <h3>Search for book</h3>
    <div class="form-group" style="padding-top: 1%">
      <div>
        <b>Author</b>
      </div>
      <div>
          <input  class="form-control" type= "text" placeholder="Enter Author" />
      </div>
    </div>
    <div class="form-group" style="padding-top: 1%">
        <div>
          <b>Title</b>
        </div>
        <div>
            <input class="form-control" type="text" placeholder="Enter Title" />
        </div>
      </div>
      <div class="form-group" style="padding-top:1%">
        <div>
          <b>Publisher</b>
        </div>
        <div>
            <input type= "text" class="form-control" placeholder="Enter Publisher" />
        </div>
      </div>
      <div class="form-group" style="padding-top: 1%;">
        <div>
          <b>Product Type</b>
        </div>
        <div>
            <input class="form-control" type= "text" placeholder="Enter Product Type" />
        </div>
      </div>
      <div style="padding-top:2%">
          <a routerLink ="booklist" class="btn btn-success rounded-25" >Search</a>
      </div>
    </form>

</div>
<div class="div3">
    <div>
        <img src="assets/images/ebooks.jpg"><br>
    </div>
</div>
</div>