<div class="row border border-2 border-Secondary p-3 rounded rounded-3" style="background-color: #e2e2e3;">
    <div *ngFor="let book of books" class="col-sm-3">
    <div>
      <div class="card mb-3">
        <div class="card-body">
            <img [src]="'https://localhost:44301/'+book.filePath" class="card-img-top" height="150" />
          <h5 class="card-title"><a [routerLink]="" (click)="GetBooK(book.bookId)" style="text-decoration: none;cursor:pointer;color: #0000EE">{{book.title}}</a></h5>
          <div class="card-text">
          <span>Author: <b>{{book.authorName}}</b></span><br>
          <span>Publisher: {{book.publisher}}</span><br>
          <span>Category: {{book.category}}</span><br>
          <span>Price: {{book.price | currency:'INR'}}</span><br>
        </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
</div>
<div *ngIf="books?.length === 0">
  No results were found matching your search criteria.
</div>
</div>
