<div class="card">
    <div class="d-flex w-75">
    <div>
        <img class="" [src]="book.logo" height="300" width="300" >
    </div>
    <div style="margin-left: 10px;">
        <dl>
            <dt>Author</dt>
            <dd>{{book.author}}</dd>
            <dt>Category</dt>
            <dd>{{book.category}}</dd>
            <dt>Publisher</dt>
            <dd>{{book.publisher}}</dd>
            <dt>Publisher Date</dt>
            <dd>{{book.publisherDate}}</dd>
            <dt>Chapters</dt>
            <dd>{{book.chapters}}</dd>
        </dl>
    </div>
</div>
    <div class="card-body">
      <h5 class="card-title">{{book.title}}</h5>
      <div class="card-text"></div>
    </div>
  </div>
