<form [formGroup] = "bookForm" (ngSubmit)="onSubmit()" class="border border-2 border-Secondary p-3 rounded rounded-3">
    <div style="background-color: #b7b9be;">
        <h4 style="padding: 5px; text-align: center;">{{bookId > 0 ? "Update" : "Add"}} Book</h4>
    </div>
<div class="row" style="background-color: #e2e2e3;margin-right: 2px;margin-left: 2px;">
    <div class="row form-group pb-2 pt-2">
        <label class="col-sm-4 form-label" style="text-align: right;"><b>Title</b></label>
        <div class="col-sm-8 form-group">
            <input type="text" class="form-control" formControlName="title" id="title" />
            <span *ngIf="!title.valid && (title.touched || bookSubmitted)" class="text-danger" id="title-error-msg">
                Please provide title
            </span>
        </div>
    </div>
    <div class="row form-group pb-2">
        <label class="col-sm-4 form-label" style="text-align: right;"><b>Category</b></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="category" id="category"/>
            <span *ngIf="!category.valid && (category.touched || bookSubmitted)" class="text-danger" id="category-error-msg">
                Please provide category
            </span>
        </div>
    </div>
    <div class="row form-group pb-2">
        <label class="col-sm-4 form-label" style="text-align: right;"><b>Price</b></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="price" id="price"/>
            <span *ngIf="!price.valid && (price.touched || bookSubmitted)" class="text-danger" id="price-error-msg" >
                Please provide price
            </span>
        </div>
    </div>
    <div class="row form-group pb-2">
        <label class="col-sm-4 form-label"style="text-align: right;"><b>Content</b></label>
        <div class="col-sm-8">
            <input type="textarea" class="form-control" rows="4" cols="50" formControlName="content" id="content" />
            <span *ngIf="!content.valid && (content.touched || bookSubmitted)" class="text-danger" id="content-error-msg">
                Please provide content
            </span>
        </div>
    </div>
    <div class="row form-group pb-2">
        <label class="col-sm-4 form-label" style="text-align: right;"><b>Publisher</b></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="publisher" id="publisher" />
            <span *ngIf="!publisher.valid && (publisher.touched || bookSubmitted)" class="text-danger" id="publisher-error-msg">
                Please provide publisher
            </span>
        </div>
    </div>
    <div class="row form-group pb-2">
        <label class="col-sm-4 form-label" style="text-align: right;"><b>Publisher Date</b></label>
        <div class="col-sm-8">
            <input type="date" class="form-control" formControlName="publisherDate" />
            <span *ngIf="!publisherDate.valid && (publisherDate.touched || bookSubmitted)" class="text-danger">
                Please provide publisher date
            </span>
        </div>
    </div>
    <div class="row form-group pb-2">
        <label class="col-sm-4 form-label"style="text-align: right;"><b>Chapters</b></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="chapters" />
            <span *ngIf="!chapters.valid && (chapters.touched || bookSubmitted)" class="text-danger">
                Please provide chapters
            </span>
        </div>
    </div>
    <div class="row form-group pb-2">
        <label class="col-sm-4 form-label"style="text-align: right;"><b>Logo</b></label>
        <div class="col-sm-4">
            <input type="file" (change)="onSelectFile($event)" class="form-control" />
            <input type="hidden" name="fileHidden" formControlName="logo" />
            <span *ngIf="!url?.length && (logo.touched || bookSubmitted)" class="text-danger">
                Please uplaod book logo
            </span>
        </div>
        <div class="col-sm-4" *ngIf="url?.length">
            <img [src]="url" height="75" width="75">
        </div>
    </div>
    <div class="row  pb-2">
        <label class="col-sm-4 form-label"style="text-align: right;"><b>Active</b></label>
        <div class="col-sm-8">
            <input type="checkbox" checked formControlName="active" />
        </div>
    </div>
    <div class="pt-1 pb-2" style="text-align: center;">
        <button type="submit" class="btn btn-primary" id="save-btn">Save</button> &nbsp;&nbsp;
        <a (click)="backtoAuthorBookList()" class="btn btn-secondary">Back</a>
    </div>

</div>
</form>