<div class="container-fluid flex justify-content-center"style="width:40%">
    <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()" class="border border-2 border-primary p-3 rounded rounded-3">
       <h2><span class="bi bi-person-fill"></span>Sign in</h2>
       <dl>
           <dt>
               Email
           </dt>
           <dd>
               <input type="text" class="form-control" formControlName = "email"/>
           </dd>
           <dt>
              Password
            </dt>
            <dd>
            <input type="password" class="form-control" formControlName="password" />
            </dd>
       </dl>
       <div>
       <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary w-100">Sign In</button>
       </div>
       <div style="padding-top: 30px;">
        </div>
    </form>
</div>
